NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_xxxx
CLERK_SECRET_KEY=sk_test_xxxx

SELLER_APP_URL=xxxxxxxxxxxxxxxxxxxxxxxxx
CONTROL_PLANE_API_KEY=your-analytics-api-key

FEEDBACK_APP_URL=https://proyecto-b-feedback-aquadrom.vercel.app
FEEDBACK_API_KEY=your-feedback-api-key

PAYMENT_APP_URL=https://your-payment-app-url.com
PAYMENT_API_KEY=your-payment-api-key

